/* Chat chats */
.chat {
   
    border: 2px solid #dedede;
    background-color: #00394d;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Darker chat chat */
  .darker {
    border-color: #fff;
    background-color: steelblue;
  }

   .conversation {
    color: #fff;
  }
  
  /* Clear floats */
  .chat::after {
    content: "";
    clear: both;
    display: table;
  }
  .pac {
    cursor: pointer;
  }
  /* Style images */
  .chat .user {
    float: left;
    color: #fff;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .chat .user.right {
    color: #fff;
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #fff;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #fff;
  }