.node {
    cursor: pointer;
}

.node circle {
    fill: #fee;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 20px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}


